@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200&family=Ubuntu&display=swap');

:root {
    --main-color: orange;
    --pane-padding: 5px 42px;
    --heading-font: 'K2D', sans-serif;
    --paragraph-font: 'K2D', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}

p {
    position: absolute;
    font-family: var(--heading-font);
    color: white;
    top: 170px;
    left: 200px;
    font-size: 1rem;
    width: 500px;
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: #fb8500;
    top: 0;
    left: 550px;
    font-size: 3rem;
}

h2 {
    position: relative;
    left: 150px;
}

.hero {
    position: relative;
}

article {
    float: right;
    position: absolute;
    left: 800px;
    opacity: 0.8;
    width: 300px;
    top: 190px;
}

article img {
    float: right;
    background-color: #219ebc;
    opacity: 1;
    margin: 0 0 15px 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px #777;
    width: 300px;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
}

.flexbox-item {
    width: 250px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #eee;
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-2 img {
    width: 250px;
}

.flexbox-item-3 {
    min-height: 100px;
}

.flexbox-images {
    display: flex;
    justify-content: space-between;
}

.flexbox-image {
    width: 150px;
    margin: 10px;
    background-color: #eee;
}

.flexbox-img-1 {
    min-height: 100px;
}

.flexbox-img-1 img {
    width: 165px;
    height: 140px;
}

.flexbox-img-2,
.flexbox-img-3,
.flexbox-img-4,
.flexbox-img-5 {
    min-height: 100px;
}

.flexbox-img-2 img,
.flexbox-img-3 img,
.flexbox-img-4 img,
.flexbox-img-5 img {
    width: 165px;
    height: 140px;
}

header {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    background-color: #ffb703;
    width: 50%;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    height: 100px;
    width: 34px;
}

nav {
    text-align: center;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

div {
    width: 75vw;
    margin: 1rem auto;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
}

footer {
    background-color: #111;
    margin: 50px;
    width: 100%;
}

footer p {
    color: #eee;
}

.sociallinks {
    width: 95%;
    padding: 70px 30px 20px;
}

.socialicons img {
    width: 60%;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 100%;
    width: 10%;
}

.socialicons a i {
    font-size: 1em;
    color: #111;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.FooterBottom {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.FooterBottom p {
    color: white;
    top: 2170px;
    left: 460px;
}


